# Note that patterns specified here will match files however deep in the repo

# ignore mac DS_Store metadata files
.DS_Store
# ignore vim .swp files
.*.sw?

# ignore scala sbt build directories (http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html)
target/
