# Note that patterns specified here will match files however deep in the repo

# ignore mac DS_Store metadata files
.DS_Store
# ignore vim .swp files
.*.sw?
.idea
# ignore scala sbt build directories (http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html)
target/

# Symbolic links to the reachables data for the api to pull from
api/www/html/nw/r-data
api/www/html/nw/r.graph.json
api/www/html/nw/r.trees.json

reachables/data/desalting_ros.txt

*.txt

*.log

*.log

reachables/hs_err_pid14552.log

*.jar

reachables/lib_old/openbabel java (does not work)/eigen2.tar.bz2

reachables/lib_old/openbabel java (does not work)/openbabel-2.3.1.tar.gz

reachables/licenses/license_PlatformIT.cxl

reachables/licenses/license_PlatformIT.cxl
